@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    color-scheme: light dark;
    --light: #f5f5f5;
    --lesslight: #efefef;
    --dark: #404040;
    --moredark: #303030;
    --accent: #6374ae;

    --text: var(--dark);
    --bg: var(--light);
    --code-text: var(--light);
    --code-bg: var(--dark);
    font-family: 'Noto Sans JP', sans-serif;
}

:root[data-theme="light"] {
    color-scheme: light dark;
    --text: var(--moredark);
    --bg: var(--light);
    font-family: 'Noto Sans JP', sans-serif;
}

:root[data-theme="dark"] {
    color-scheme: light dark;
    --text: var(--light);
    --bg: var(--moredark);
    font-family: 'Noto Sans JP', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light dark;
        --text: var(--light);
        --bg: var(--moredark);
        font-family: 'Noto Sans JP', sans-serif;
    }

    *:focus {
        outline: var(--light);
        box-shadow: 0 0 0 .25em royalblue;
    }
}

a {
    color: var(--accent);
}

html {
    font-size: 16px;
    font-size: clamp(14px, 2.9vw, 18px);
}

body {
    color: var(--text);
    background-color: var(--bg);
    transition: .5s;
}

main {
    padding-top: 3rem;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: normal;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: normal;
    border-bottom: 1px solid gray;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: normal;
    border-left: 4px solid gray;
    padding-left: 0.5rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: normal;
}

button,
input {
    font-size: 1em;
    /* Override browser default font shrinking*/
}

input {
    border: 1px solid var(--dark);
    background-color: var(--lesslight);
    border-radius: .25em;
    padding: .5em;
}

pre {
    background-color: var(--code-bg);
    color: var(--code-text);
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
    overflow: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text);
    color: var(--code-text);
    background-color: var(--code-bg);
}

button,
.button,
input[type=submit] {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: .5em;
    border-radius: .25em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button:hover,
.button:hover,
input[type=submit]:hover {
    color: var(--lesslight);
    background-color: var(--moredark);
}

button+button,
.button+.button,
input[type=submit]+input[type=submit] {
    margin-left: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered {
    border: 3px solid;
}

.home {
    display: inline-block;
    background-color: var(--bg);
    color: var(--text);
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    ol.twocol {
        column-count: 2;
    }

    .row {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
    }

    /* Make everything in a row a column */
    .row>* {
        display: block;
        flex: 1 1 auto;
        max-width: 100%;
        width: 100%;
    }

    .row>*:not(:last-child) {
        margin-right: 10px;
    }
}

@media print {
    .home {
        display: none;
    }
}


.toc::before {
    content: "Table of Contents";
    font-weight: bold;
    font-size: 1.25rem;
    display: block;
    margin-bottom: 1rem;
}

.toc {
    border: 1px solid gray;
    border-radius: .25em;
    padding: 1rem;
}

.title {
    margin-bottom: 0;
}

.author {
    margin-top: 0;
    font-weight: thin;
}

.author::before {
    content: "by ";
}
