{% block header %}
<nav class="navbar navbar-expand-md py-3 ">
  <div class="container bg-white rounded-pill py-2 px-4 shadow-sm" id="navbar-bg">
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-3">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Dashboard</a></li>
        {% if request.user.is_active %}
        <li class="nav-item"><a class="nav-link active" href="{% url 'questions' %}">Questions</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'account' %}">Account</a></li>
        {% endif %}
        {% if request.user.is_admin %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">For admin</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'score' %}">Score</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'manager_ctf' %}">CTF Manager</a></li>
            <li><a class="dropdown-item" href="{% url 'manager_user' %}">User Manager</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/admin">Django Admin Panel</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      {% if not request.user.is_authenticated %}
      <a class="btn btn-primary" href="{% url 'login' %}" role="button" type="button">
        Login
      </a>
      {% else %}
      <a class="btn btn-outline-primary" href="{% url 'logout' %}" role="button" type="button">
        Logout
      </a>
      {% endif %}
    </div>
  </div>
</nav>
<script>
  function toggleNavbarCorner(){
    var navbar = document.getElementById('navbar-bg');
    if (window.innerWidth < 768) {
      navbar.classList.remove('rounded-pill');
    } else {
      navbar.classList.add('rounded-pill');
    }
  }

  window.addEventListener('resize', toggleNavbarCorner);
  window.addEventListener('load', toggleNavbarCorner);
</script>
{% endblock header%}
