{% extends "base.html"%}
{% block title%} Answer History | Subaru CTF {% endblock title %}
{% block content %}

<body>
  {% include "app/components/header.html" %}
  <section id="answer_history" class="pt-4">
    <div class="container">
      <div class="p-lg-4">
        <div>
          <h3 class="bg-black px-3 text-white" style="width: fit-content;">Answer History</h3>
        </div>
        <div class="forms row gap-2 flex-column py-3">
          <form class="row col" action="{% url 'answer_history' %}">
            <div class="col-5">
              <div class="input-group input-group-sm">
                <div class="input-group-text">Contest</div>
                <select class="form-select form-select-sm col flex-grow-1 " aria-label="Default select example" name="contest_id">
                  {% for c in contest %}
                  {% if c.id == selected_contest_id %}
                  <option value="{{ c.id }}" selected>{{ c.name }}</option>
                  {% else %}
                  <option value="{{ c.id }}">{{ c.name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-5">
              <div class="input-group input-group-sm">
                <div class="input-group-text">Player</div>
                <select class="form-select form-select-sm col flex-grow-1 " aria-label="Default select example" name="player_id">
                  {% for player in players %}
                  {% if player.id == selected_player_id %}
                  <option value="{{ ctf.ctf_id }}" selected>{{ player.name }}</option>
                  {% else %}
                  <option value="{{ player.user_id }}">{{ player.name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-2">
              <button type="submit" class="btn btn-outline-dark btn-sm">Show</button>
            </div>
          </form>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">DateTime</th>
              <th scope="col">CTF</th>
              <th scope="col">Player</th>
              <th scope="col">Team</th>
              <th scope="col">Question</th>
              <th scope="col">Answer</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            {% for h in history %}
            <tr>
              <th scope="row"> {{ h.created_at | date:"Y/m/d H:i:s" }} </th>
              <td>{{ h.contest }}</td>
              <td>{{ h.player }}</td>
              <td>{{ h.team }}</td>
              <td>{{ h.question }}</td>
              <td>{{ h.answer }}</td>
              {% if h.is_correct %}
              <td><span class="badge bg-success">Correct</span></td>
              {% else %}
              <td><span class="badge bg-secondary">Incorrect</span></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</body>
{% endblock content %}
