{% extends "base.html"%}
{% block title%} Dashboard | Subaru CTF {% endblock title %}
{% block content %}

<body class="h-100">
  {% include "app/components/header.html" %}
  <div class="d-flex flex-column justify-content-between h-100">
    <div class="container flex-shrink-0">
      </section>
      <div class="px-4 py-5 my-5 text-center">
        <div class="mb-4">
          {% include 'app/icons/chat.svg' %}
        </div>
        {% if not request.user.is_anonymous %}
        <h1 class="display-5 fw-bold">Welcome, {{ request.user.username }}</h1>
        {% else %}
        <h1 class="display-5 fw-bold">Subaru CTF</h1>
        {% endif %}
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">

          </p>
          <div class="d-grid d-sm-flex justify-content-sm-center">
            {% if request.user.is_anonymous %}
            <a href="{% url 'login' %}" type="button" class="btn btn-primary btn-lg px-4" >Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
{% endblock content %}
