{% extends "base.html"%}
{% block title%} Team Manager | Subaru CTF {% endblock title %}
{% block content %}

<body>
  {% include "app/components/header.html" %}
  <div class="container p-md-5">
    <h3 class="text-center px-4 bg-black text-white mx-auto mb-4 fw-bolder" style="width: fit-content;">Team Manager</h3>

    <div>
      <div class="row justify-content-center">
        <div class="col-md-4 mb-2">
          <div class="input-group">
            <span class="input-group-text">Contest</span>
            <select id="ctf-select" class="form-select" aria-label="CTF-Select" name="ctf_id">
              {% for c in all_contests %}
              {% if c.id == active_contest.id %}
              <option value="{{c.id}}" selected>{{c.name}}</option>
              {% else %}
              <option value="{{c.id}}">{{c.name}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-text">Team</span>
            <select id="team-select" class="form-select" aria-label="Team-Select" name="team_id">
              {% for team in all_teams %}
              {% if team.id == active_team.id %}
              <option value="{{team.id}}" selected>{{team.name}}</option>
              {% else %}
              <option value="{{team.id}}">{{team.name}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-lg-5">
          <h4>User List</h4>
          {% for p in players %}
          <form class="input-group mb-2" action="{% url 'manager_team' %}?contest_id={{active_contest.id}}&team_id={{active_team.id}}" method="post">
            {% csrf_token %}
            <input type="hidden" name="type" value="add">
            <input type="hidden" name="user_id" value="{{p.id}}">
            <div type="text" class="form-control" readonly>{{p.name}}</div>
            <div type="text" class="form-control" readonly>{{p.team}}</div>
            <button class="btn btn-outline-success" type="submit">追加</button>
          </form>
          {% endfor %}
          {% if players|length == 0 %}
          <div class="alert alert-info">
            {% if team_members|length != 0 %}
            チーム無所属のユーザーはいません
            {% else %}
            CTFとTeamを選択するとここに表示されます
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="col-lg-5">
          <h4>Team Member List</h4>

          {% for member in team_members %}
          <form class="input-group mb-2" action="{% url 'manager_team' %}?contest_id={{active_contest.id}}&team_id={{active_team.id}}" method="post">
            {% csrf_token %}
            <input type="hidden" name="type" value="remove">
            <input type="hidden" name="user_id" value="{{member.id}}">
            <div type="text" class="form-control" readonly>{{member.name}}</div>
            <div type="text" class="form-control" readonly>{{member.team }}</div>
            <button class="btn btn-outline-danger" type="submit">削除</button>
          </form>
          {% endfor %}
          {% if team_members|length == 0 %}
          <div class="alert alert-info">
            {% if players|length != 0 %}
            このチームにメンバーはいません
            {% else %}
            CTFとTeamを選択するとここに表示されます
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
  <script>
    const teamSelect = document.getElementById('team-select');
    const ctfSelect = document.getElementById('ctf-select');

    teamSelect.addEventListener('change', () => {
      const teamId = teamSelect.value;
      const ctfId = ctfSelect.value;
      window.location.href = `{% url 'manager_team' %}?contest_id=${ctfId}&team_id=${teamId}`;
    });

    ctfSelect.addEventListener('change', () => {
      const teamId = teamSelect.value;
      const ctfId = ctfSelect.value;
      window.location.href = `{% url 'manager_team' %}?contest_id=${ctfId}&team_id=${teamId}`;
    });

    // window.onload = () => {
    //   const teamId = teamSelect.value;
    //   const ctfId = ctfSelect.value;
    //   window.location.href = `{% url 'manager_team' %}?ctf_id=${ctfId}&team_id=${teamId}`;
    // }
    // window.onpageshow = () => {
    //   const teamId = teamSelect.value;
    //   const ctfId = ctfSelect.value;
    //   window.location.href = `{% url 'manager_team' %}?ctf_id=${ctfId}&team_id=${teamId}`;
    // }
  </script>
</body>
{% endblock content %}
