{% extends "base.html"%}
{% block title%} {{ question.title }} | Subaru CTF {% endblock title %}
{% block content %}

<body>
  {% include "app/components/header.html" %}
  <div class="container" style="padding: 16px;">
    <div class="row flex-column g-3">
      <div class="col">
        <a href="{% url 'questions' %}" class="text-decoration-none">
          {% include 'app/icons/left-short.svg' %}
          <span>Go back</span>
        </a>
      </div>
      <div class="col border-bottom my-4">
        <h2>{{ question.title }}</h2>
      </div>
      <div class="col pb-4">
        <p>{{ question.content | safe | linebreaksbr }}</p>
      </div>
      <div class="col border-top py-4">
        <form action="{% url 'question_detail' question.question_id %}" method="post">
          <div class="mb-3">
            {% csrf_token %}
            <label for="answer" class="form-label">Answer</label>
            <input type="text" class="form-control" id="answer" name="answer" placeholder="Enter the flag">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          {% if is_correct %}
          <div class="container py-2">
            <div class="alert alert-success" role="alert">
              {{ message }} <a href="{% url 'questions' %}">問題一覧へ戻る</a>
            </div>
          </div>
          {% elif is_correct == False %}
          <div class="container py-2">
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
</body>
{% endblock content %}
